stages:
  - test
  - security
  - release

include:
  - template: Jobs/SAST.gitlab-ci.yml

lint:
  stage: test
  image: pipelinecomponents/flake8:latest 
  script:
    - flake8 .
  allow_failure: true # Set to false if you want to block the release on vulnerabilities

trivy_scan:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    # "fs" means filesystem scan
    # "." scans the current directory
    # --scanners vuln looks for CVEs in libraries
    # --exit-code 1 makes the pipeline fail if High/Critical issues are found
    - trivy fs . --scanners vuln --exit-code 1 --severity HIGH,CRITICAL
  allow_failure: true

dockerfile_check:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    # "config" command scans for Infrastructure as Code (IaC) issues
    - trivy config . --exit-code 1 --severity HIGH,CRITICAL