stages:
  - test
  - security
  - release

include:
  - template: Jobs/SAST.gitlab-ci.yml



lint:
  stage: test
  image: pipelinecomponents/flake8:latest 
  script:
    - flake8 .
  allow_failure: true # Set to false if you want to block the release on vulnerabilities

# dependency_scan:
#   stage: security
#   image: registry.gitlab.com/security-products/gemnasium-python:4
#   variables:
#     PIP_REQUIREMENTS_FILE: "journal/requirements.txt" 
#   script:
#     - /analyzer run
#   artifacts:
#     reports:
#       dependency_scanning: gl-dependency-scanning-report.json

trivy_scan:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    # "fs" means filesystem scan
    # "." scans the current directory
    # --scanners vuln looks for CVEs in libraries
    # --exit-code 1 makes the pipeline fail if High/Critical issues are found
    - trivy fs . --scanners vuln --exit-code 1 --severity HIGH,CRITICAL
  allow_failure: true