stages:
  - test
  - security
  - release

include:
  - template: Jobs/SAST.gitlab-ci.yml

lint:
  stage: test
  image: pipelinecomponents/flake8:latest 
  script:
    - flake8 .
  allow_failure: true # Set to false if you want to block the release on vulnerabilities

# Security scans
semgrep-sast:
  stage: security

trivy_scan:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs . --scanners vuln --exit-code 1 --severity HIGH,CRITICAL

dockerfile_check:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy config . --exit-code 1 --severity HIGH,CRITICAL