stages:
  - test
  - build
  - security
  - release

include:
  - template: Jobs/SAST.gitlab-ci.yml
  - project: home-lab/pipeline-catalog
    file: pipelines/security.yaml
  - project: home-lab/pipeline-catalog
    file: pipelines/build.yaml

lint:
  stage: test
  image: pipelinecomponents/flake8:latest 
  script:
    - flake8 .
  allow_failure: true # Set to false if you want to block the release on vulnerabilities

img-base:
  extends: .create_image
  before_script:
  - cd ./journal
  variables:
    FILE_PATH: "Dockerfile"

# Security scans
semgrep-sast:
  stage: security

trivy-dependency-scan:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy fs . --scanners vuln --exit-code 1 --severity HIGH,CRITICAL

dockerfile-check:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy config . --exit-code 1 --severity HIGH,CRITICAL

git-leaks:
  stage: security
  extends: .secrets_scan

try-image-scan:
  stage: security
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - trivy image ${CI_REGISTRY_IMAGE}:latest --exit-code 1 --severity HIGH,CRITICAL
  allow_failure: true