stages:
  - test
  - security
  - release

include:
  - template: Jobs/SAST.gitlab-ci.yml
  - template: Security/Dependency-Scanning.gitlab-ci.yml

lint:
  stage: test
  image: pipelinecomponents/flake8:latest 
  script:
    - flake8 .
  allow_failure: true # Set to false if you want to block the release on vulnerabilities