{% load static %}
<div class="py-4">
<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Calendar
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body bg-dark" id="calendar">
      </div>
    </div>
  </div>


  </div>




</div>

<script src="{% static 'js/fullcalendar-6.1.6/dist/index.global.js' %}"></script>
<script src="{% static 'js/calendar.js' %}"></script>
