{% extends 'index.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% include 'filter.html' %}
    {% include 'calendar.html' %}
    <!-- starting displaying all items  -->
    <h1>dashboard page</h1>
    <!-- modal start  -->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Launch demo modal
    </button>
    <div class="btn">
       <a href="api/journey/get_story?format=json" download="journey" id="download-json">
            Download Stuff
        </a>
    </div>

    
    <!-- Modal -->
    <div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add entry</h5>
                </div>
                <div class="modal-body">
                    <div class="modal-input">
                        <div>Title</div>
                        <input type="text" placeholder="Title" name="title-submit" id="" class="mb-3">

                    </div>
                    <div class="modal-input">
                        <div>Start Date</div>
                        <input type="date" placeholder="date m-d-y" name="date-start-submit" id="" class="mb-3">

                    </div>
                    <div class="modal-input">
                        <div>End Date</div>
                        <input type="date" placeholder="date m-d-y" name="date-end-submit" id="" class="mb-3">

                    </div>
                    <textarea class="form-control mt-5" id="exampleFormControlTextarea1" rows="10"
                        name="text-submit"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="entry-submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <!-- modal end  -->
    {% for entry in entries %}

    <div class="entry">
        <div class="title-text">
            <div class="d-flex title-text">
               <!-- logic to display multiday/single dates correctly  -->

                {% if entry.date_start == entry.date_end %}
                    <h3 class="title-date">{{ entry.date_start }}</h3>
                    <h3 class="mx-1"> {{entry.date_start | date:" D"}}</h3>
                {% else %}
                    <h3>{{ entry.date_start |date:"d M" }}-</h3>
                    <h3>{{ entry.date_end |date:"d M, Y, " }}</h3>
                    <h3>{{ entry.date_start |date:" D " }}-</h3>
                    <h3>{{ entry.date_end |date:"D"}}</h3>
                {% endif %}

            </div>
                <h5 class="pt-0">{{ entry.title }}</h5>
        </div>
        <p>{{ entry.text | linebreaks }}</p>
        <div class="all-pics-parent">
            {% for pic_location in entry.pic_array %}
            <div class="img-wrapper">
                <img class="m-1 story-img rounded" src="media/images/mounted/{{ pic_location }}"  alt="My Image">
            </div>

            {% endfor %}
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}